<%- include('../parts/header')-%>
    <body>
        <main>
            <div class="position-relative overflow-hidden text-center">
                <div style="background-color: yellow;" class="first-container">
       
                    <div class="container1-text error-page">
                        <img class="icon-2" src="images\unlem.png" width="150px" height="150px">
                        <h1 class="display-4 nav-text">GİRİŞ BAŞARISIZ !!!</h1>
                    </div> 
                </div>
            </div>
        </main>
