<%- include('../parts/header')-%>
    <body>
        <main>
            <div class="position-relative overflow-hidden text-center">
                <div style="background-color: yellow;" class="first-container">
                    <img class="icon-left" src="images\ronaldoleft.png" alt="">
                    <img class="icon-right" src="images\messi_kupa.jpg" alt="">
                    <div class="container1-text">
                        <img class="icon-1" src="images\myach-futbol-hd-gazon-fokus.png" width="150px" height="auto">
                        <h1 class="display-4 nav-text">TOB İLE EKSİKSİZ HALI SAHA</h1>
                        <p class="lead fw-normal nav-text2">Halı saha yapmak istiyor fakat takım ya da oyuncu bulamıyor musunuz? Tek yapmanız gereken bu sistemi kullanmak</p>
                    </div>
                </div>
            </div>
            <header>
                <div class="container-findings first-container">
                    <div class="finding-player">
                        <a class="display-5 findings-links-player" href="/login">OYUNCU MU ARIYORSUN?</a>
                        <br>
                        <img class="img-findings" src="images\Oyuncu Arama.jpeg" alt="">
                    </div>
                    <div class="finding-team">
                        <a class="display-5 findings-links-team" href="/announceList">TAKIM MI ARIYORSUN?</a>
                        <br>
                        <img class="img-findings" src="images\s-f76e79da90a3381b25a90c176f8a9120b4705845.jpg" alt="">
                    </div>
                </div>
            </header>
            <footer>
                <div class="container clearfix">
                    <!-- Bu divde sitenin çalışma prensibi -->
                    <div class="">
                        <h4 class="">Nasıl çalışır?</h4>
                        <ul>
                            <li>
                                <img style="background-color: yellow; margin-left: 15px;" src="images\how-works-1.png" alt="">
                                <h3>Takımını Kur</h3>
                                <p>Arkadaşlarınla bİr takım oluştur.</p>
                            </li>
                            <li>
                                <img style="background-color: yellow; margin-left: 20px;" src="images\how-works-2.png" alt="">
                                <h3>Bİr takıma katıl</h3>
                                <p>Takımın yoksa başkalarının oluşturduğu bİr takıma katıl.</p>
                            </li>
                            <li>
                                <img style="background-color: yellow; margin-left: 10px;" src="images\how-works-3.png" alt="">
                                <h3>Maça başla</h3>
                                <p>Artık hazırsın İyİ eğlenceler!</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </main>
<%- include('../parts/footer')-%>