<%- include('../parts/header')-%>
    <body>
        <main>
            <section id="contact">
                <div class="container login-container">
                    <h2 class="text-uppercase">
                        GİRİŞ YAP
                    </h2>
                    <form id="login" action="login" method="post">
                        <div class="form-group">
                            <input type="text" name="eMail" placeholder="E Mail">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phoneNumber" placeholder="Telefon Numarası">
                        </div>
                        <button style="justify-content: center;" class="btn btn-primary btn-large  ">GİRİŞ YAP</button>
                    </form>
                </div>
            </section>
            </div>
        </main>